.buildtypes__label {
  margin-left: 20px;
}

input[type=checkbox] {
  display: none;
}

.buildtypes__customcheckbox {
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 2px solid dodgerblue;
  border-radius: 50%;
  margin-right: 10px;
  transition: 0.2s ease;
}

input[type=checkbox]:checked ~ .buildtypes__customcheckbox {
  background-color: dodgerblue;
}
